* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 1%;
  z-index: 1;
  background: linear-gradient(rgb(219, 214, 146), rgb(133, 131, 50));
  animation: naitre 1s ease-out;
  opacity: 0.9;
  border-bottom: 1px solid black;
}

header .menu {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 1s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  border-right: 1px solid black;
}

header ul li a {
  position: relative;
  margin: 0 30px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 1s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(book.jpg);
  background-size: cover;
  border-bottom: 1px solid black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.photo {
  position: absolute;
  width: 20%;
  height: 40%;
  background: url(moi.jpg);
  background-size: cover;
  background-position: center;
  top: 30%;
  left: 15%;
  border-radius: 50%;
  transition: 0.5s;
}

.photo:hover,
img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.cadre {
  position: absolute;
  width: 30%;
  height: 30%;
  transition: 1s;
  background: linear-gradient(rgb(219, 214, 146), rgb(133, 131, 50));
  background-size: cover;
  background-position: center;
  top: 35%;
  left: 50%;
  color: black;
  padding: 1%;
  animation: naitre 1s ease-out;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

@keyframes naitre {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .lumiere {
  position: absolute;
  width: 20%;
  height: 40%;
  background: url(light.jpg);
  background-size: cover;
  background-position: center;
  transition: 1s;
} */

main {
  background-color: rgb(187, 143, 60);
  border-bottom: 1px solid black;
}

#html {
  width: 75%;
}
#javascript {
  width: 40%;
}
#adobe {
  width: 80%;
}
#wordpress {
  width: 70%;
}
#base {
  width: 50%;
}

aside {
  background-color: rgb(231, 185, 33);
}

footer {
  background-color: rgb(54, 51, 51);
  color: white;
}

/* #about::before {
  content: "";
  animation: quality infinite 10s;
}

@keyframes quality {
  0% {
    content: "patient";
  }
  20% {
    content: "curieux";
  }
  40% {
    content: "soucieux";
  }
  60% {
    content: "motivé";
  }
  80% {
    content: "passionné";
  }
  100% {
    content: "exigeant";
  }
} */
